name: ⚙ Release
on:
  push:
    branches:
    - main

jobs:
  release:
    name: ⚙ Release
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: cycjimmy/semantic-release-action@v2
      env:
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      with:
        extra_plugins: |
          @semantic-release/changelog
          @semantic-release/git
        branch: main
